In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz', nrows=100)

In [3]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@pgdatabase:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='zone_look', con=engine))

CREATE TABLE zone_look (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [16]:
df = next(df_iter)

In [12]:
len(df)

100

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 16.1 ms, sys: 0 ns, total: 16.1 ms
Wall time: 24.2 ms

100

In [16]:
from time import time

In [17]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'Inserted another chunck... took {t_end-t_start} seconds')

Inserted another chunck... took 10.310462236404419 seconds
Inserted another chunck... took 10.025128602981567 seconds
Inserted another chunck... took 9.971190452575684 seconds
Inserted another chunck... took 9.849831104278564 seconds
Inserted another chunck... took 9.72579026222229 seconds
Inserted another chunck... took 9.833832740783691 seconds
Inserted another chunck... took 9.866818904876709 seconds
Inserted another chunck... took 9.693110704421997 seconds
Inserted another chunck... took 9.807898044586182 seconds
Inserted another chunck... took 9.852538347244263 seconds
Inserted another chunck... took 9.685348749160767 seconds
Inserted another chunck... took 9.942256450653076 seconds

/tmp/ipykernel_7227/243922745.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunck... took 9.605163097381592 seconds
Inserted another chunck... took 6.164909362792969 seconds

StopIteration: