In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv('taxi+_zone_lookup.csv.gz', nrows=100)

In [4]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@pgdatabase:5432/ny_taxi')

In [10]:
print(pd.io.sql.get_schema(df, name='zone_look', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [16]:
df = next(df_iter)

In [12]:
len(df)

100

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 16.1 ms, sys: 0 ns, total: 16.1 ms
Wall time: 24.2 ms

100

In [16]:
from time import time

In [17]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print(f'Inserted another chunck... took {t_end-t_start} seconds')

Inserted another chunck... took 10.310462236404419 seconds
Inserted another chunck... took 10.025128602981567 seconds
Inserted another chunck... took 9.971190452575684 seconds
Inserted another chunck... took 9.849831104278564 seconds
Inserted another chunck... took 9.72579026222229 seconds
Inserted another chunck... took 9.833832740783691 seconds
Inserted another chunck... took 9.866818904876709 seconds
Inserted another chunck... took 9.693110704421997 seconds
Inserted another chunck... took 9.807898044586182 seconds
Inserted another chunck... took 9.852538347244263 seconds
Inserted another chunck... took 9.685348749160767 seconds
Inserted another chunck... took 9.942256450653076 seconds

/tmp/ipykernel_7227/243922745.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunck... took 9.605163097381592 seconds
Inserted another chunck... took 6.164909362792969 seconds

StopIteration: